workflows/supply-chain-manager-starter.json
{
  "id": "supply-chain-manager-v1",
  "name": "Supply Chain Manager (Starter)",
  "nodes": [
    {
      "id": "e7958011-8643-5e6d-83eb-f8725a94331d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        380
      ],
      "parameters": {}
    },
    {
      "id": "23dd67ba-9597-5429-8f1f-33c43ee9df61",
      "name": "Set Goal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        380
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a077e454-eb3f-5aac-8d80-db47f4cedf02",
              "name": "goal",
              "value": "Prepare a Q1 inventory and supplier action plan: identify SKUs at stockout risk, surface suppliers underperforming on reliability, and decide carrier coverage for the next 30 days.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ba465751-aa2a-5ad5-8d86-509879c3285b",
      "name": "Read Inventory File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        200
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/current_inventory.csv",
        "options": {}
      }
    },
    {
      "id": "ff6d36e5-329c-5618-b171-7f8c07c0609f",
      "name": "Read Inventory JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "64b1594e-b8b2-5a1d-a6ca-19452ec29876",
      "name": "Read Sales File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        380
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/sales_history.csv",
        "options": {}
      }
    },
    {
      "id": "3c9c7181-257a-50a3-ba30-fd1af3c53f9f",
      "name": "Read Sales JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        380
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "b412b978-c894-5c7f-b7d0-2f54ff4bb763",
      "name": "Read Suppliers File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        560
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/suppliers.csv",
        "options": {}
      }
    },
    {
      "id": "0b521b10-be09-50c8-99d4-46cfc10d569d",
      "name": "Read Suppliers JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        560
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "12809fa2-b079-549f-ba37-8678434babe1",
      "name": "Read Shipping File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        740
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/shipping_options.csv",
        "options": {}
      }
    },
    {
      "id": "49b2c176-edf8-5cee-afab-048628a8eac7",
      "name": "Read Shipping JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        740
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "70f5e0e7-f662-56b4-951a-bdca9e778465",
      "name": "Build Context Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Build a compact context summary for the Master Planner.\n *\n * The planner does not need the raw 180 sales rows -- that would blow the\n * context budget. We extract the headline numbers and the SKUs already\n * past or near reorder so the planner can pick the right subgoal first.\n *\n * Inputs reach this node via cross-node references to the four CSV-parse\n * nodes upstream. We do NOT mutate them, only summarize.\n */\nconst inventory = $('Read Inventory JSON').all().map(i => i.json);\nconst sales     = $('Read Sales JSON').all().map(i => i.json);\nconst suppliers = $('Read Suppliers JSON').all().map(i => i.json);\nconst goal      = $('Set Goal').first().json.goal;\n\nconst stockout_risk = inventory\n  .filter(r => Number(r.on_hand) <= Number(r.reorder_point))\n  .map(r => ({ sku: r.sku, name: r.name,\n               on_hand: Number(r.on_hand),\n               reorder_point: Number(r.reorder_point) }));\n\nconst overstock_risk = inventory\n  .filter(r => Number(r.on_hand) > Number(r.reorder_point) * 5)\n  .map(r => ({ sku: r.sku, name: r.name,\n               on_hand: Number(r.on_hand),\n               reorder_point: Number(r.reorder_point) }));\n\nconst supplier_summary = suppliers.map(s => ({\n  supplier_id: s.supplier_id,\n  on_time_rate: Number(s.on_time_rate),\n  defect_rate: Number(s.defect_rate),\n}));\n\nreturn [{\n  json: {\n    goal,\n    context_summary: {\n      sku_count: inventory.length,\n      sales_rows: sales.length,\n      stockout_risk,\n      overstock_risk,\n      supplier_summary,\n    },\n  },\n}];\n"
      }
    },
    {
      "id": "0b8313e0-3a1e-5e5e-8aeb-eb6ddaebc5d4",
      "name": "Master Planner Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Master Planner Agent for an e-commerce supply-chain operation.\\nYou receive a high-level business goal and a context summary. You decompose\\nthe goal into ordered subgoals and decide which subgoal to dispatch first.\\n\\nDecompose the goal into an ordered list of subgoals drawn from exactly\\nthese four types: \\\"forecast\\\", \\\"inventory\\\", \\\"supplier\\\", \\\"logistics\\\". Order\\nsubgoals so dependencies come first -- you cannot make an inventory\\ndecision before you have a demand forecast, and both should generally\\nprecede logistics planning. Supplier scoring has no dependencies and can\\nrun at any point in the sequence.\\n\\nRespond with RAW JSON only -- no markdown code fences, no preamble, no\\ntrailing commentary. The downstream Code node parses your entire response\\nwith JSON.parse, so any extra text breaks the workflow.\\n\\nRequired output JSON schema:\\n{\\n  \\\"plan_id\\\": \\\"<short string, e.g. PLAN-2026-Q1>\\\",\\n  \\\"reasoning\\\": \\\"<2-3 sentences explaining how you decomposed the goal and why you ordered the subgoals this way>\\\",\\n  \\\"subgoals\\\": [\\n    { \\\"id\\\": \\\"<short id>\\\", \\\"type\\\": \\\"forecast\\\"|\\\"inventory\\\"|\\\"supplier\\\"|\\\"logistics\\\", \\\"rationale\\\": \\\"<why this subgoal, and why this position in the order>\\\" }\\n  ],\\n  \\\"next_subgoal\\\": \\\"forecast\\\" | \\\"inventory\\\" | \\\"supplier\\\" | \\\"logistics\\\"\\n}\\n\\n\\\"next_subgoal\\\" MUST be exactly one of the four literal strings above --\\nno synonyms, no extra words, no case changes. It must equal the \\\"type\\\"\\nof the first subgoal in your \\\"subgoals\\\" list whose dependencies (per\\nyour own ordering) are already satisfied.\\n\\nWorked examples (ordering is the point, not the literal wording):\\n\\nExample A -- goal: \\\"Prepare a Q1 inventory and supplier action plan:\\nidentify SKUs at stockout risk, surface suppliers underperforming on\\nreliability, and decide carrier coverage for the next 30 days.\\\"\\n  subgoals: [forecast, inventory, supplier, logistics]\\n  next_subgoal: \\\"forecast\\\"\\n  why: inventory actions (reorder vs. markdown) depend on knowing\\n  projected demand first -- you cannot judge whether on-hand inventory\\n  is a stockout or overstock risk without a forecast. Logistics is last\\n  because carrier coverage depends on knowing which SKUs need urgent\\n  replenishment. Supplier scoring has no upstream dependency and could\\n  run anywhere, but is sequenced after forecast so its findings are\\n  available when inventory decisions need a sourcing recommendation.\\n\\nExample B -- goal: \\\"Audit supplier reliability this quarter and flag\\nanyone underperforming on quality or lead time.\\\"\\n  subgoals: [supplier]\\n  next_subgoal: \\\"supplier\\\"\\n  why: this goal has no inventory or logistics component at all, and\\nsupplier scoring has no dependency on a forecast. The decomposition\\nshould NOT manufacture forecast/inventory/logistics subgoals just\\nbecause the four-way vocabulary exists -- only decompose into subgoals\\nthe goal actually requires.\\n\\nThe general rule these examples illustrate: a subgoal is unblocked when\\nevery subgoal it depends on (per your own stated rationale) is either\\nabsent from the plan or already sequenced before it. `next_subgoal` is\\nalways the first unblocked subgoal in your own ordering -- never pick a\\nlater subgoal out of order even if it seems more urgent.\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('GOAL: ' + $json.goal + '\\n\\nCONTEXT:\\n' + JSON.stringify($json.context_summary, null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "a2c3b3a0-d9dc-5a07-a37b-5e4c5a26a24b",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Extract the Master Planner's JSON from the Anthropic response envelope.\n * Anthropic returns { content: [{ type: \"text\", text: \"...\" }], ... }.\n *\n * If your planner replies with markdown fences (```json ...```), the\n * JSON.parse below will fail. Forbid fences in your system prompt\n * (preferred) or strip them here.\n */\nconst raw = $json.content[0].text.trim();\nlet plan;\ntry {\n  plan = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"Planner did not return valid JSON. Got:\\n\" + raw.slice(0, 500));\n}\n\n// Pull the goal+context through so downstream branches can reference them.\nconst ctx = $('Build Context Summary').first().json;\n\nreturn [{ json: { ...plan, _goal: ctx.goal, _context: ctx.context_summary } }];\n"
      }
    },
    {
      "id": "dc22767a-90b2-5fd0-8798-5be42df98168",
      "name": "Route on Subgoal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        380
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "forecast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "forecast"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "inventory",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inventory"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "supplier",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "supplier"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "logistics",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "logistics"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "8b659ed0-c792-578d-bc52-7a2c7415424e",
      "name": "Demand Forecast Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\r\n * Demand Forecasting Engine — classical statistical forecast.\r\n *\r\n * Pedagogical purpose\r\n * -------------------\r\n * This Code node implements the *classical* half of a hybrid planning\r\n * pipeline. It produces a deterministic, reproducible numeric forecast\r\n * for each SKU using:\r\n *   1. A 3-month moving average over recent demand\r\n *   2. A 12-month seasonal index that adjusts for cyclical patterns\r\n *\r\n * The downstream LLM node (\"Forecast Context Adjuster\") will take these\r\n * numbers and revise them using context the math cannot see — promotions,\r\n * news events, weather, viral product mentions. That handoff is the whole\r\n * point of the lesson: classical statistics for what is computable,\r\n * LLM reasoning for what is contextual.\r\n *\r\n * If your forecast looks suspicious (e.g. SKU-007 Wool Gloves projects\r\n * its low summer baseline forward), you have correctly built a *naive*\r\n * forecaster. The next node is supposed to catch what you missed.\r\n *\r\n * Reading: docs/planning-primer.md §\"Classical vs LLM-based planning\"\r\n */\r\n\r\n// ---- Input contract -------------------------------------------------------\r\n// This node's wired input is the routed plan object (from the Switch), not\r\n// the sales rows -- same cross-node-reference pattern as Build Context\r\n// Summary and Build Shipping Requests use elsewhere in this workflow.\r\n// item.json = {month, sku, name, units_sold} (the parsed sales_history.csv).\r\nconst sales = $('Read Sales JSON').all().map(i => i.json);\r\n\r\n// ---- Helpers (provided — do not change) -----------------------------------\r\n\r\nfunction groupBySku(rows) {\r\n  const out = {};\r\n  for (const r of rows) {\r\n    (out[r.sku] = out[r.sku] || []).push(r);\r\n  }\r\n  // Sort each SKU's series chronologically so \"last 3\" really means \"most recent.\"\r\n  for (const sku of Object.keys(out)) {\r\n    out[sku].sort((a, b) => a.month.localeCompare(b.month));\r\n  }\r\n  return out;\r\n}\r\n\r\nfunction nextMonth(monthStr) {\r\n  // \"2025-12\" -> \"2026-01\"\r\n  const [y, m] = monthStr.split(\"-\").map(Number);\r\n  const d = new Date(Date.UTC(y, m, 1));\r\n  return `${d.getUTCFullYear()}-${String(d.getUTCMonth() + 1).padStart(2, \"0\")}`;\r\n}\r\n\r\n// ---- The two algorithms YOU implement -------------------------------------\r\n\r\n/**\r\n * Compute a simple 3-month moving average over the most recent units_sold values.\r\n *\r\n * @param {Array<{units_sold: number}>} series  Full sorted series for one SKU.\r\n * @returns {number}  Mean of the last 3 months. If fewer than 3 months of\r\n *                    data exist, take the mean of what's available.\r\n *                    Empty series -> 0.\r\n *\r\n * Why this matters: the moving average is the simplest possible \"trend\"\r\n * estimator. It's a STRIPS-style assumption: we assume the recent past\r\n * predicts the near future. This breaks for viral products and discontinued\r\n * items — which is exactly why the seasonal index and the LLM step exist.\r\n */\r\nfunction movingAverage(series) {\r\n  if (series.length === 0) return 0;\r\n  const last3 = series.slice(-3);\r\n  const sum = last3.reduce((acc, r) => acc + Number(r.units_sold), 0);\r\n  return sum / last3.length;\r\n}\r\n\r\n/**\r\n * Seasonal index for a target forecast month.\r\n *\r\n * Definition for month M:\r\n *   index(M) = mean(units_sold across rows where month-of-year == M)\r\n *              / mean(units_sold across the entire series)\r\n *\r\n * Interpretation: 1.0 = \"average month\", 1.5 = \"this month historically runs\r\n * 50% above average\", 0.4 = \"this month historically runs 60% below average.\"\r\n *\r\n * With only 12 months of history, the per-month mean degenerates to the\r\n * single observation we have for that month. That's a known weakness — we\r\n * accept it for this exercise. Production seasonality models use 2+ years.\r\n *\r\n * @param {Array<{month: string, units_sold: number}>} series\r\n * @param {string} targetMonth  e.g. \"2026-01\" — only the \"01\" portion matters.\r\n * @returns {number}            Multiplier. Default to 1.0 if you can't compute one.\r\n */\r\nfunction seasonalIndex(series, targetMonth) {\r\n  if (series.length === 0) return 1.0;\r\n\r\n  const monthPart = targetMonth.split(\"-\")[1];\r\n  const monthRows = series.filter(r => r.month.split(\"-\")[1] === monthPart);\r\n  if (monthRows.length === 0) return 1.0;\r\n\r\n  const mean = rows => rows.reduce((acc, r) => acc + Number(r.units_sold), 0) / rows.length;\r\n  const monthMean = mean(monthRows);\r\n  const overallMean = mean(series);\r\n\r\n  if (overallMean === 0) return 1.0;\r\n  return monthMean / overallMean;\r\n}\r\n\r\n// ---- Main loop (provided) -------------------------------------------------\r\n\r\nconst bySku = groupBySku(sales);\r\nconst results = [];\r\n\r\nfor (const sku of Object.keys(bySku)) {\r\n  const series = bySku[sku];\r\n  const last = series[series.length - 1].month;\r\n  const target = nextMonth(last);\r\n\r\n  // Classical forecast = trend (moving average) × seasonality\r\n  const ma = movingAverage(series);\r\n  const si = seasonalIndex(series, target);\r\n  const forecast = ma * si;\r\n\r\n  // Crude statistical confidence — coefficient of variation, inverted.\r\n  // The downstream LLM is supposed to revise this when context demands it.\r\n  // Watch how often statistical confidence and contextual confidence diverge.\r\n  const variance = series.length > 1\r\n    ? series.reduce((acc, r) => acc + Math.pow(r.units_sold - ma, 2), 0) / series.length\r\n    : 0;\r\n  const cv = ma > 0 ? Math.sqrt(variance) / ma : 1;\r\n  const confidence = Math.max(0, Math.min(1, 1 - cv));\r\n\r\n  results.push({\r\n    sku,\r\n    name: series[0].name,\r\n    target_month: target,\r\n    forecast_units: Math.round(forecast),\r\n    moving_avg: Math.round(ma * 10) / 10,\r\n    seasonal_index: Math.round(si * 100) / 100,\r\n    statistical_confidence: Math.round(confidence * 100) / 100,\r\n    method: \"moving_avg_3 × seasonal_index\",\r\n    notes: [],\r\n  });\r\n}\r\n\r\n// n8n Code-node return contract: array of {json: ...}\r\nreturn results.map(r => ({ json: r }));\r\n"
      }
    },
    {
      "id": "267dbef7-7f2a-5c33-8a36-23c15f3c4928",
      "name": "Forecast Context Adjuster",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Forecast Context Adjuster.\\nYou receive a numerical forecast for one SKU (computed by the upstream\\nclassical engine) plus contextual notes. You revise the forecast when\\ncontext demands it and return JSON.\\n\\nYou revise the classical forecast only when a specific contextual signal\\njustifies it. Signals that warrant a revision: viral social mentions or\\nnews coverage, a planned promotion or price change, a weather anomaly\\naffecting a seasonal category, a supply disruption at the SKU\\\"s\\nsupplier, or a competitor stockout/exit. Absent one of these, defer to\\nthe classical number.\\n\\nBound your revision to the evidence: a delta under 10% needs only a\\none-line reason; a delta of 10-30% needs a specific signal named; a\\ndelta over 30% is reserved for a clear, high-confidence signal (e.g. an\\nexplicit viral/trend note in the context) and must say so plainly in\\n\\\"reasoning\\\". If you see no qualifying signal, return the classical\\nforecast unchanged (delta_pct: 0).\\n\\nRespond with RAW JSON only -- no markdown fences, no preamble.\\n\\nRequired output JSON schema:\\n{\\n  \\\"sku\\\": \\\"<sku from the input row>\\\",\\n  \\\"revised_forecast\\\": <integer>,\\n  \\\"delta_pct\\\": <number, e.g. 25 for a 25% increase, -10 for a 10% decrease, 0 if unchanged>,\\n  \\\"reasoning\\\": \\\"<1-2 sentences citing the specific signal, or stating none was found>\\\",\\n  \\\"context_signals_used\\\": [\\\"<short tag per signal used, empty array if none>\\\"]\\n}\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Forecast row:\\n' + JSON.stringify($json, null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "59684410-12a1-5aa6-9447-6a52df330a95",
      "name": "Inventory EOQ Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\r\n * Inventory Optimization Planner — Economic Order Quantity (EOQ).\r\n *\r\n * Pedagogical purpose\r\n * -------------------\r\n * EOQ (Wilson, 1934) is the canonical *classical* operations-research model:\r\n * a closed-form solution under strict assumptions —\r\n *   - constant demand\r\n *   - instantaneous replenishment\r\n *   - no stockouts allowed\r\n *   - fixed ordering cost, fixed holding cost\r\n *   - no quantity discounts\r\n *\r\n * Real e-commerce violates ALL of these for at least some SKUs. Viral\r\n * products (looking at you, SKU-007) blow past \"constant demand.\" Discontinued\r\n * SKUs (SKU-013) make \"no stockouts\" expensive in the wrong direction.\r\n * Slow-movers make the formula numerically unstable.\r\n *\r\n * This node teaches the boundary problem: classical algorithms give crisp\r\n * answers exactly when their assumptions hold. Your two TODOs are\r\n *   (a) implement the formula\r\n *   (b) detect when its assumptions don't hold for a given SKU\r\n *\r\n * The downstream LLM exception node handles the SKUs you flag.\r\n *\r\n * Reading: docs/planning-primer.md §\"STRIPS-style assumptions and where they break\"\r\n */\r\n\r\n// This node's wired input is the routed plan object (from the Switch), not\r\n// the CSV rows -- pull inventory and sales via cross-node references instead\r\n// (same pattern as Build Context Summary / Build Shipping Requests) and\r\n// merge into one heterogeneous list. Partition them by which fields are present.\r\nconst all = [...$('Read Inventory JSON').all(), ...$('Read Sales JSON').all()].map(i => i.json);\r\n\r\n// Default ordering cost (S in the EOQ formula). In production this would\r\n// vary by supplier and channel; we hard-code a single value so the focus\r\n// stays on the formula and its assumptions.\r\nconst ORDERING_COST_USD = 50;\r\n\r\n// ---- Helpers (provided) ---------------------------------------------------\r\n\r\nfunction partition(rows) {\r\n  const inventory = rows.filter(r => \"on_hand\" in r);\r\n  const sales = rows.filter(r => \"units_sold\" in r);\r\n  return { inventory, sales };\r\n}\r\n\r\nfunction annualDemand(salesForSku) {\r\n  // Sum units_sold across the rows we have. With 12 months of data this is\r\n  // the trailing-12-months annual demand.\r\n  return salesForSku.reduce((acc, r) => acc + Number(r.units_sold), 0);\r\n}\r\n\r\n// ---- TODO #1 — the EOQ formula --------------------------------------------\r\n\r\n/**\r\n * Wilson's Economic Order Quantity:\r\n *\r\n *   Q* = sqrt( (2 * D * S) / H )\r\n *\r\n * @param {number} D  Annual demand        (units per year)\r\n * @param {number} S  Fixed cost per order (dollars per order)\r\n * @param {number} H  Holding cost         (dollars per unit per year)\r\n * @returns {number}  Optimal order quantity, rounded to nearest integer.\r\n *\r\n * Hint: Math.sqrt is your friend. Guard against D=0 and H=0 — return 0 in\r\n *       either case. (You can't optimally order anything for zero demand,\r\n *       and dividing by zero holding cost is meaningless.)\r\n */\r\nfunction eoq(D, S, H) {\r\n  if (D === 0 || H === 0) return 0;\r\n  return Math.round(Math.sqrt((2 * D * S) / H));\r\n}\r\n\r\n// ---- TODO #2 — assumption-violation detection -----------------------------\r\n\r\n/**\r\n * EOQ assumes:\r\n *   (a) demand is roughly constant\r\n *   (b) lead time is short enough to re-order before stocking out\r\n *   (c) the SKU isn't perishable (no holding-cost cliff)\r\n *   (d) demand volume is high enough that an \"optimal batch\" is meaningful\r\n *\r\n * Return an array of human-readable flag strings for any assumption that\r\n * FAILS for this SKU. An empty array means \"EOQ is trustworthy here, ship\r\n * the formula's recommendation.\"\r\n *\r\n * Suggested checks (refine as you wish):\r\n *   - \"viral_spike\"   : mean(last 3 months) > 2.5 × mean(prior 9 months)\r\n *   - \"declining\"     : mean(last 3 months) < 0.5 × mean(first 3 months)\r\n *   - \"low_velocity\"  : annualDemand < 60   (less than ~5/month average)\r\n *   - \"long_lead_time\": inv.lead_time_days > 28 AND demand is volatile\r\n *\r\n * Note on perishability: none of our demo SKUs are perishable, so you do\r\n * NOT need a perishability check. Document the omission in your analysis\r\n * write-up — a real implementation would need it.\r\n *\r\n * @param {object} inv         Inventory row for the SKU\r\n * @param {Array}  salesSeries Chronologically sorted sales rows for the SKU\r\n * @returns {Array<string>}    Flag names, e.g. [\"viral_spike\", \"low_velocity\"]\r\n *\r\n * Hint: implement each check as its own small block. A flagged SKU may\r\n *       trigger multiple flags — that's expected and useful downstream.\r\n */\r\nfunction detectViolations(inv, salesSeries) {\r\n  const flags = [];\r\n  if (salesSeries.length === 0) return flags;\r\n\r\n  const mean = rows => rows.length\r\n    ? rows.reduce((acc, r) => acc + Number(r.units_sold), 0) / rows.length\r\n    : 0;\r\n\r\n  // (a) demand is roughly constant -- recent months vs. the rest of the year.\r\n  const last3 = salesSeries.slice(-3);\r\n  const prior9 = salesSeries.slice(0, -3);\r\n  if (prior9.length > 0 && mean(last3) > 2.5 * mean(prior9)) {\r\n    flags.push(\"viral_spike\");\r\n  }\r\n\r\n  // Mirror check: demand trailing off relative to where it started.\r\n  const first3 = salesSeries.slice(0, 3);\r\n  if (mean(first3) > 0 && mean(last3) < 0.5 * mean(first3)) {\r\n    flags.push(\"declining\");\r\n  }\r\n\r\n  // (d) volume high enough for an \"optimal batch\" to be meaningful.\r\n  const D = annualDemand(salesSeries);\r\n  if (D < 60) {\r\n    flags.push(\"low_velocity\");\r\n  }\r\n\r\n  // (b) lead time short enough to re-order before stocking out -- only a\r\n  // real problem when demand is also volatile (coefficient of variation).\r\n  const overallMean = mean(salesSeries);\r\n  const variance = salesSeries.reduce(\r\n    (acc, r) => acc + Math.pow(Number(r.units_sold) - overallMean, 2), 0\r\n  ) / salesSeries.length;\r\n  const cv = overallMean > 0 ? Math.sqrt(variance) / overallMean : 0;\r\n  const isVolatile = cv > 0.4;\r\n  if (Number(inv.lead_time_days) > 28 && isVolatile) {\r\n    flags.push(\"long_lead_time\");\r\n  }\r\n\r\n  return flags;\r\n}\r\n\r\n// ---- Main loop (provided) -------------------------------------------------\r\n\r\nconst { inventory, sales } = partition(all);\r\nconst salesBySku = sales.reduce((acc, r) => {\r\n  (acc[r.sku] = acc[r.sku] || []).push(r);\r\n  return acc;\r\n}, {});\r\nfor (const sku of Object.keys(salesBySku)) {\r\n  salesBySku[sku].sort((a, b) => a.month.localeCompare(b.month));\r\n}\r\n\r\nconst results = [];\r\nfor (const inv of inventory) {\r\n  const series = salesBySku[inv.sku] || [];\r\n  const D = annualDemand(series);\r\n  const H = Number(inv.holding_cost_per_unit_year);\r\n  const Q = eoq(D, ORDERING_COST_USD, H);\r\n  const flags = detectViolations(inv, series);\r\n\r\n  results.push({\r\n    sku: inv.sku,\r\n    name: inv.name,\r\n    on_hand: Number(inv.on_hand),\r\n    reorder_point: Number(inv.reorder_point),\r\n    annual_demand: D,\r\n    eoq_units: Q,\r\n    holding_cost_per_unit_year: H,\r\n    ordering_cost_usd: ORDERING_COST_USD,\r\n    assumption_flags: flags,\r\n    needs_llm_review: flags.length > 0,\r\n  });\r\n}\r\n\r\nreturn results.map(r => ({ json: r }));\r\n"
      }
    },
    {
      "id": "b0d4508a-58d4-55f9-a2be-780eb0469f83",
      "name": "Inventory Exception Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Inventory Exception Handler.\\nYou receive SKUs the EOQ formula flagged as having broken assumptions\\n(viral spike, declining demand, low velocity, etc.). For each, propose\\nan inventory action.\\n\\nFor each flagged SKU, choose an action based on which assumption(s)\\nbroke -- a SKU can carry multiple flags, in which case address the most\\nurgent one (stockout risk beats a numerical-stability nuisance):\\n\\n- \\\"viral_spike\\\": demand is accelerating past what EOQ\\\"s constant-demand\\n  assumption can see. Recommend \\\"reorder\\\" at a quantity noticeably above\\n  eoq_units -- size it off the recent trend (moving_avg-style), not the\\n  formula, since the formula is already known to be lagging reality.\\n- \\\"declining\\\": reordering would lock up capital in inventory nobody\\n  wants. Recommend \\\"markdown\\\" (or \\\"liquidate\\\" if on_hand is extreme\\n  relative to reorder_point) with recommended_qty: 0.\\n- \\\"low_velocity\\\": EOQ is numerically unstable at this volume. Recommend\\n  \\\"reorder\\\" but override the quantity to a small, fixed amount\\n  approximating 30 days of demand (annual_demand / 12), not eoq_units.\\n- \\\"long_lead_time\\\": volatile demand plus a long lead time means the\\n  standard order is fine but timing risk is high. Recommend \\\"reorder\\\"\\n  at eoq_units and flag the lead-time risk in \\\"reasoning\\\" so a human\\n  knows to place the order early.\\n- If none of these apply cleanly, recommend \\\"hold\\\" and explain why.\\n\\nRespond with RAW JSON only -- no markdown fences, no preamble.\\n\\nRequired output JSON schema:\\n{\\n  \\\"sku\\\": \\\"<sku from the input row>\\\",\\n  \\\"recommended_action\\\": \\\"reorder\\\" | \\\"markdown\\\" | \\\"liquidate\\\" | \\\"hold\\\",\\n  \\\"recommended_qty\\\": <integer, units to order (0 for markdown/liquidate)>,\\n  \\\"reasoning\\\": \\\"<2-3 sentences citing the specific flag(s) and why this action fits>\\\"\\n}\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Flagged SKU:\\n' + JSON.stringify($json, null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "1051c1f6-5908-509e-bb6c-8788a4b24de0",
      "name": "Supplier Performance Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Supplier Performance Monitor.\\nYou receive the supplier roster with KPIs and produce scored rankings.\\n\\nScore each supplier 0-100 as a weighted sum of four dimensions, each\\nitself normalized to 0-100 by min-max scaling ACROSS THE SUPPLIERS IN\\nTHIS ROSTER (worst supplier on a dimension scores 0 on it, best scores\\n100). Use these weights, applied to the normalized per-dimension score:\\n\\n  - reliability (35%): on_time_rate, higher is better. Weighted highest\\n    because a late shipment cascades directly into stockouts downstream\\n    -- this is the failure mode the rest of this workflow exists to catch.\\n  - quality (30%): 1 - defect_rate, higher is better. Weighted almost as\\n    high as reliability because defects compound into returns, rework,\\n    and customer trust, and unlike lead time cannot be buffered with\\n    safety stock.\\n  - lead time (20%): avg_lead_time_days, LOWER is better (invert before\\n    normalizing). Weighted below reliability/quality because EOQ and\\n    reorder points already partially absorb lead-time length -- it is a\\n    planning input, not a failure mode by itself.\\n  - cost (15%): payment_terms_days as a cash-position proxy, higher is\\n    better (longer terms = better working-capital position). Weighted\\n    lowest: it affects margins, not whether the order arrives correct\\n    and on time.\\n\\nscore_total = 0.35*reliability + 0.30*quality + 0.20*lead_time + 0.15*cost\\n(each right-hand term already 0-100 after normalization).\\n\\nAssign tier from score_total: score_total >= 80 -> \\\"preferred\\\";\\n60-79 -> \\\"approved\\\"; 40-59 -> \\\"watch\\\"; below 40 -> \\\"deprioritize\\\".\\n\\nDo the normalization and weighting arithmetic silently -- do not show\\nyour work, tables, or intermediate numbers. Respond with RAW JSON only:\\nno markdown fences, no preamble, no explanation before or after the\\narray. The first character of your response must be \\\"[\\\". Return an\\narray with one object per supplier in the roster.\\n\\nRequired output JSON schema (one object per supplier):\\n{\\n  \\\"supplier_id\\\": \\\"<supplier_id from input>\\\",\\n  \\\"score_total\\\": <number 0-100>,\\n  \\\"score_breakdown\\\": { \\\"cost\\\": <0-100>, \\\"lead_time\\\": <0-100>, \\\"reliability\\\": <0-100>, \\\"quality\\\": <0-100> },\\n  \\\"tier\\\": \\\"preferred\\\" | \\\"approved\\\" | \\\"watch\\\" | \\\"deprioritize\\\",\\n  \\\"recommendation\\\": \\\"<1-2 sentences: what to do differently with this supplier, if anything>\\\"\\n}\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Supplier roster:\\n' + JSON.stringify($('Read Suppliers JSON').all().map(i => i.json), null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "7dbbcf62-2aa2-58b7-9a7d-4dd7f48f8277",
      "name": "Build Shipping Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        740
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Manufacture three illustrative shipping requests so the logistics branch\n * has work to do. In a real system these would come from order management;\n * we synthesize them here so the assignment is self-contained.\n *\n * Only requests are returned on the main output -- the Logistics Coordinator\n * LLM node runs once per input item, so mixing the carrier catalogue in here\n * would fire it once per option too (10 wasted calls). The catalogue is\n * already available downstream via the $('Read Shipping JSON') cross-reference\n * (used in both the LLM prompt and the classical fallback).\n */\nconst requests = [\n  { type: \"request\", request_id: \"REQ-001\", weight_kg:  850, origin_region: \"Asia\",          dest_region: \"North America\", deadline_days: 14, perishable: false },\n  { type: \"request\", request_id: \"REQ-002\", weight_kg:   60, origin_region: \"North America\", dest_region: \"North America\", deadline_days:  3, perishable: true  },\n  { type: \"request\", request_id: \"REQ-003\", weight_kg: 1200, origin_region: \"Europe\",        dest_region: \"North America\", deadline_days: 21, perishable: false },\n];\nreturn requests.map(x => ({ json: x }));\n"
      }
    },
    {
      "id": "e3170f22-7651-5e3d-bf3f-870ba86f8edf",
      "name": "Logistics Coordinator (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Logistics Coordinator.\\nYou receive shipping requests and the carrier catalogue. For each request\\nyou select a carrier and explain the trade-offs.\\n\\nFor each request, first filter the carrier catalogue against the hard\\nconstraints -- an option only qualifies if ALL of these hold:\\n  - origin_region matches the request\\\"s origin_region\\n  - destination_region matches the request\\\"s dest_region\\n  - transit_days <= deadline_days\\n  - max_weight_kg >= weight_kg\\n  - if perishable is true, supports_perishable must also be true\\n\\nAmong the qualifying options, reason about soft trade-offs: prefer lower\\ncost, but when two or more options land within ~15% of each other\\\"s\\ntotal cost (weight_kg * cost_per_kg), break the tie using time slack --\\nprefer the option whose transit_days leaves more buffer under\\ndeadline_days, since that reduces the risk of a late arrival from a\\ncarrier delay. Note any other soft signal you can infer (e.g. mode\\nreliability: air/ground generally has tighter transit variance than\\nocean) in your trade_off_summary.\\n\\nSet \\\"use_classical_fallback\\\": true when the decision is purely numeric\\n-- one option is unambiguously cheapest among the qualifying set (not\\nwithin the ~15% tie band above). In that case still fill in your best\\nanswer for chosen_option_id and the rest of the schema (the deterministic\\nplanner will re-derive the same answer; this lets you audit that the\\ntwo agree). Set it false only when you actually had to exercise judgment\\n-- a genuine cost tie broken by time slack, or a case where no option\\nsatisfies all hard constraints and you are recommending the least-bad\\ncompromise.\\n\\nDo the constraint filtering and cost comparison silently -- do not\\nshow your work, filtering tables, or reasoning steps. Respond with RAW\\nJSON only: no markdown fences, no preamble, no explanation before or\\nafter the object. The first character of your response must be \\\"{\\\".\\n\\nRequired output JSON schema (one object per request):\\n{\\n  \\\"request_id\\\": \\\"<request_id from input>\\\",\\n  \\\"chosen_option_id\\\": \\\"<option_id, or null if no option satisfies the hard constraints>\\\",\\n  \\\"alternatives_considered\\\": [\\\"<option_id>\\\", \\\"...\\\"],\\n  \\\"trade_off_summary\\\": \\\"<1-2 sentences: why this option over the alternatives>\\\",\\n  \\\"use_classical_fallback\\\": true | false\\n}\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Request:\\n' + JSON.stringify($json, null, 2) + '\\n\\nOptions:\\n' + JSON.stringify($('Read Shipping JSON').all().map(i => i.json), null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "7ea7b7a4-878a-5bf2-ab4e-ac35a1461de3",
      "name": "Use Classical Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        740
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.use_classical_fallback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a3186ddb-d0f2-5c13-8202-711c314bf431",
      "name": "Classical Logistics Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        920
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\r\n * Classical Logistics Planner — greedy fallback.\r\n *\r\n * Pedagogical purpose\r\n * -------------------\r\n * This is the \"planning without an LLM\" branch of the Logistics Coordinator.\r\n * The LLM logistics node handles soft-constraint cases (special instructions,\r\n * supplier relationships, urgency framing, multi-leg trade-offs). When the\r\n * upstream IF node decides a situation is purely numerical — fixed weight,\r\n * fixed deadline, available carriers — it routes here for a deterministic,\r\n * auditable choice.\r\n *\r\n * Greedy is the simplest classical search: at each decision point, take the\r\n * locally best option. It's not always globally optimal, but it's fast,\r\n * explainable, and a perfect baseline to compare LLM plans against.\r\n *\r\n * Reading: docs/planning-primer.md §\"Classical search and the cost of optimality\"\r\n */\r\n\r\n// This node's wired input is whichever Logistics Coordinator (LLM) outputs\r\n// set use_classical_fallback: true -- i.e. request_id + chosen_option_id +\r\n// trade_off_summary, NOT the full request (weight_kg, deadline_days, etc.).\r\n// Use $input to know WHICH requests need fallback, then look up each one's\r\n// full data by request_id via cross-node reference (same pattern used\r\n// elsewhere in this workflow). The options catalogue is a plain cross-ref.\r\n//\r\n// A request: { type: \"request\", request_id, weight_kg, origin_region,\r\n//              dest_region, deadline_days, perishable }\r\n// An option: { option_id, carrier, mode, origin_region, destination_region,\r\n//              transit_days, cost_per_kg, max_weight_kg, supports_perishable }\r\n\r\nconst needsFallback = $input.all().map(i => i.json);\r\nconst allRequests = $('Build Shipping Requests').all().map(i => i.json);\r\nconst options = $('Read Shipping JSON').all().map(i => i.json);\r\n\r\nconst requests = needsFallback\r\n  .map(inc => allRequests.find(r => r.request_id === inc.request_id))\r\n  .filter(Boolean);\r\n\r\n// ---- TODO — greedy carrier assignment -------------------------------------\r\n\r\n/**\r\n * Pick the cheapest shipping option satisfying ALL hard constraints\r\n * for one request:\r\n *   - origin_region matches request.origin_region\r\n *   - destination_region matches request.dest_region\r\n *   - transit_days <= request.deadline_days\r\n *   - max_weight_kg >= request.weight_kg\r\n *   - if request.perishable === true, supports_perishable must also be true\r\n *\r\n * Total cost = request.weight_kg × option.cost_per_kg  (we ignore time cost)\r\n *\r\n * @param {object} req\r\n * @param {Array}  options\r\n * @returns {object|null}  Chosen option augmented with `total_cost_usd`,\r\n *                         or null if nothing satisfies the constraints.\r\n *\r\n * Hint: this is two steps — filter, then min-by-cost.\r\n *   1. Array.prototype.filter against the 5 hard constraints.\r\n *   2. If the filtered list is empty, return null (infeasible).\r\n *   3. Map each survivor to {...option, total_cost_usd: req.weight_kg * option.cost_per_kg}.\r\n *   4. Reduce to the one with the minimum total_cost_usd.\r\n *\r\n * Why greedy and not exhaustive? With ~10 options per request the search\r\n * space is trivial. We use greedy to keep the comparison clean against\r\n * the LLM branch, not because we couldn't afford the optimal search.\r\n */\r\nfunction pickCheapestFeasible(req, options) {\r\n  const feasible = options.filter(o =>\r\n    o.origin_region === req.origin_region &&\r\n    o.destination_region === req.dest_region &&\r\n    Number(o.transit_days) <= Number(req.deadline_days) &&\r\n    Number(o.max_weight_kg) >= Number(req.weight_kg) &&\r\n    (!req.perishable || o.supports_perishable === true || o.supports_perishable === \"true\")\r\n  );\r\n\r\n  if (feasible.length === 0) return null;\r\n\r\n  const priced = feasible.map(o => ({\r\n    ...o,\r\n    total_cost_usd: Number(req.weight_kg) * Number(o.cost_per_kg),\r\n  }));\r\n\r\n  return priced.reduce((cheapest, o) =>\r\n    o.total_cost_usd < cheapest.total_cost_usd ? o : cheapest\r\n  );\r\n}\r\n\r\n// ---- Main loop (provided) -------------------------------------------------\r\n\r\nconst assignments = [];\r\nfor (const req of requests) {\r\n  const choice = pickCheapestFeasible(req, options);\r\n  assignments.push({\r\n    request_id: req.request_id,\r\n    weight_kg: req.weight_kg,\r\n    deadline_days: req.deadline_days,\r\n    chosen: choice,\r\n    feasible: choice !== null,\r\n    method: \"classical_greedy\",\r\n  });\r\n}\r\n\r\nreturn assignments.map(a => ({ json: a }));\r\n"
      }
    },
    {
      "id": "64933313-39bd-5ce0-8c75-20f9981484b5",
      "name": "Merge Subgoal Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2880,
        380
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "7f14ee66-e79e-5450-823b-0f60e7d0a61e",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Aggregate the active subgoal's output into a final business-friendly summary.\n * Only one branch fires per execution (the Switch routes on next_subgoal).\n *\n * next_recommended_subgoal is read off the Master Planner's own subgoals\n * ordering (not a hardcoded sequence) -- this is the seed of an iterative\n * HTN loop: feed it back into the planner on the next run to advance the\n * plan one step at a time.\n */\nconst items = $input.all().map(i => i.json);\nconst plan = $('Parse Plan').first().json;\nconst executed_subgoal = plan.next_subgoal;\n\nfunction extractLLMJson(item) {\n  // Raw Anthropic envelope shape: { content: [{ type: \"text\", text: \"...\" }], ... }\n  const text = item && Array.isArray(item.content) && item.content[0] && item.content[0].text;\n  if (typeof text !== \"string\") return item;\n  try {\n    return JSON.parse(text.trim());\n  } catch (e) {\n    return { parse_error: text.slice(0, 300) };\n  }\n}\n\nconst parsed = items.map(extractLLMJson);\n\n// Supplier Monitor returns one array-shaped item (all suppliers at once);\n// every other branch returns one object per item already. Flatten either way.\nconst key_findings = [];\nfor (const p of parsed) {\n  if (Array.isArray(p)) key_findings.push(...p);\n  else key_findings.push(p);\n}\n\nconst subgoals = plan.subgoals || [];\nconst currentIdx = subgoals.findIndex(sg => sg.type === executed_subgoal);\nconst next_recommended_subgoal =\n  currentIdx >= 0 && currentIdx < subgoals.length - 1\n    ? subgoals[currentIdx + 1].type\n    : null;\n\nreturn [{\n  json: {\n    plan_id: plan.plan_id,\n    executed_subgoal,\n    key_findings,\n    next_recommended_subgoal,\n  },\n}];\n"
      }
    },
    {
      "id": "f3a1c2b4-5d6e-47a8-9b1c-2d3e4f5a6b7c",
      "name": "Inventory Needs LLM Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2280,
        460
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_llm_review }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-6e7f-48a9-9b0c-1d2e3f4a5b6c",
      "name": "Parse Logistics Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        740
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Extract each Logistics Coordinator response's JSON from the Anthropic\n * response envelope -- same JSON.parse pattern Parse Plan uses for the\n * Master Planner, but looped: unlike the Master Planner (which runs once),\n * this node runs once PER SHIPPING REQUEST, so $input holds one item per\n * request and must be iterated explicitly (a bare $json here would only\n * see the first item).\n */\nconst items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const raw = item.json.content[0].text.trim();\n  let decision;\n  try {\n    decision = JSON.parse(raw);\n  } catch (e) {\n    throw new Error(\"Logistics Coordinator did not return valid JSON. Got:\\n\" + raw.slice(0, 500));\n  }\n  results.push({ json: decision });\n}\nreturn results;\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Goal": {
      "main": [
        [
          {
            "node": "Read Inventory File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Inventory File": {
      "main": [
        [
          {
            "node": "Read Inventory JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Sales File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sales File": {
      "main": [
        [
          {
            "node": "Read Sales JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Suppliers File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Suppliers File": {
      "main": [
        [
          {
            "node": "Read Suppliers JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Shipping File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Shipping File": {
      "main": [
        [
          {
            "node": "Read Shipping JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Context Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context Summary": {
      "main": [
        [
          {
            "node": "Master Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Planner Agent": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Route on Subgoal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Subgoal": {
      "main": [
        [
          {
            "node": "Demand Forecast Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inventory EOQ Planner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supplier Performance Monitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Shipping Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demand Forecast Engine": {
      "main": [
        [
          {
            "node": "Forecast Context Adjuster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forecast Context Adjuster": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory EOQ Planner": {
      "main": [
        [
          {
            "node": "Inventory Needs LLM Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Exception Handler": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier Performance Monitor": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shipping Requests": {
      "main": [
        [
          {
            "node": "Logistics Coordinator (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logistics Coordinator (LLM)": {
      "main": [
        [
          {
            "node": "Parse Logistics Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Classical Fallback?": {
      "main": [
        [
          {
            "node": "Classical Logistics Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classical Logistics Fallback": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Subgoal Results": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Needs LLM Review?": {
      "main": [
        [
          {
            "node": "Inventory Exception Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Logistics Decision": {
      "main": [
        [
          {
            "node": "Use Classical Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0"
  },
  "pinData": {}
}