workflows/supply-chain-manager-starter.json
{
  "id": "supply-chain-manager-v1",
  "name": "Supply Chain Manager (Starter)",
  "nodes": [
    {
      "id": "e7958011-8643-5e6d-83eb-f8725a94331d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        380
      ],
      "parameters": {}
    },
    {
      "id": "23dd67ba-9597-5429-8f1f-33c43ee9df61",
      "name": "Set Goal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        380
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a077e454-eb3f-5aac-8d80-db47f4cedf02",
              "name": "goal",
              "value": "Prepare a Q1 inventory and supplier action plan: identify SKUs at stockout risk, surface suppliers underperforming on reliability, and decide carrier coverage for the next 30 days.",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ba465751-aa2a-5ad5-8d86-509879c3285b",
      "name": "Read Inventory File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        200
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/current_inventory.csv",
        "options": {}
      }
    },
    {
      "id": "ff6d36e5-329c-5618-b171-7f8c07c0609f",
      "name": "Read Inventory JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "64b1594e-b8b2-5a1d-a6ca-19452ec29876",
      "name": "Read Sales File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        380
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/sales_history.csv",
        "options": {}
      }
    },
    {
      "id": "3c9c7181-257a-50a3-ba30-fd1af3c53f9f",
      "name": "Read Sales JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        380
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "b412b978-c894-5c7f-b7d0-2f54ff4bb763",
      "name": "Read Suppliers File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        560
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/suppliers.csv",
        "options": {}
      }
    },
    {
      "id": "0b521b10-be09-50c8-99d4-46cfc10d569d",
      "name": "Read Suppliers JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        560
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "12809fa2-b079-549f-ba37-8678434babe1",
      "name": "Read Shipping File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        740
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/shipping_options.csv",
        "options": {}
      }
    },
    {
      "id": "49b2c176-edf8-5cee-afab-048628a8eac7",
      "name": "Read Shipping JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        960,
        740
      ],
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      }
    },
    {
      "id": "70f5e0e7-f662-56b4-951a-bdca9e778465",
      "name": "Build Context Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Build a compact context summary for the Master Planner.\n *\n * The planner does not need the raw 180 sales rows -- that would blow the\n * context budget. We extract the headline numbers and the SKUs already\n * past or near reorder so the planner can pick the right subgoal first.\n *\n * Inputs reach this node via cross-node references to the four CSV-parse\n * nodes upstream. We do NOT mutate them, only summarize.\n */\nconst inventory = $('Read Inventory JSON').all().map(i => i.json);\nconst sales     = $('Read Sales JSON').all().map(i => i.json);\nconst suppliers = $('Read Suppliers JSON').all().map(i => i.json);\nconst goal      = $('Set Goal').first().json.goal;\n\nconst stockout_risk = inventory\n  .filter(r => Number(r.on_hand) <= Number(r.reorder_point))\n  .map(r => ({ sku: r.sku, name: r.name,\n               on_hand: Number(r.on_hand),\n               reorder_point: Number(r.reorder_point) }));\n\nconst overstock_risk = inventory\n  .filter(r => Number(r.on_hand) > Number(r.reorder_point) * 5)\n  .map(r => ({ sku: r.sku, name: r.name,\n               on_hand: Number(r.on_hand),\n               reorder_point: Number(r.reorder_point) }));\n\nconst supplier_summary = suppliers.map(s => ({\n  supplier_id: s.supplier_id,\n  on_time_rate: Number(s.on_time_rate),\n  defect_rate: Number(s.defect_rate),\n}));\n\nreturn [{\n  json: {\n    goal,\n    context_summary: {\n      sku_count: inventory.length,\n      sales_rows: sales.length,\n      stockout_risk,\n      overstock_risk,\n      supplier_summary,\n    },\n  },\n}];\n"
      }
    },
    {
      "id": "0b8313e0-3a1e-5e5e-8aeb-eb6ddaebc5d4",
      "name": "Master Planner Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Master Planner Agent for an e-commerce supply-chain operation.\\nYou receive a high-level business goal and a context summary. You decompose\\nthe goal into ordered subgoals and decide which subgoal to dispatch first.\\n\\n# TODO [easy] -- LO-1: hierarchical task decomposition\\n# Define the OUTPUT JSON SCHEMA. The downstream Switch node routes on the\\n# field `next_subgoal`. You must populate it with one of:\\n#   \\\"forecast\\\" | \\\"inventory\\\" | \\\"supplier\\\" | \\\"logistics\\\"\\n#\\n# Required output shape:\\n#   {\\n#     \\\"plan_id\\\": \\\"<short string>\\\",\\n#     \\\"reasoning\\\": \\\"<2-3 sentences explaining the decomposition>\\\",\\n#     \\\"subgoals\\\": [\\n#       { \\\"id\\\": \\\"...\\\", \\\"type\\\": \\\"...\\\", \\\"rationale\\\": \\\"...\\\" },\\n#       ...\\n#     ],\\n#     \\\"next_subgoal\\\": \\\"forecast\\\" | \\\"inventory\\\" | \\\"supplier\\\" | \\\"logistics\\\"\\n#   }\\n#\\n# Add explicit instructions to ALWAYS reply with raw JSON only -- no\\n# markdown fences, no preamble. The Set node downstream parses with JSON.parse.\\n\\n# TODO [medium] -- LO-1: HTN-style decomposition with examples\\n# Provide 1-2 worked examples in the system prompt showing how a goal\\n# decomposes into ordered subgoals. The examples should demonstrate that\\n# subgoal ORDERING matters -- e.g. you can't optimize inventory before\\n# you have a demand forecast. Choose `next_subgoal` to be the first\\n# unblocked subgoal in topological order.\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('GOAL: ' + $json.goal + '\\n\\nCONTEXT:\\n' + JSON.stringify($json.context_summary, null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "a2c3b3a0-d9dc-5a07-a37b-5e4c5a26a24b",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Extract the Master Planner's JSON from the Anthropic response envelope.\n * Anthropic returns { content: [{ type: \"text\", text: \"...\" }], ... }.\n *\n * If your planner replies with markdown fences (```json ...```), the\n * JSON.parse below will fail. Forbid fences in your system prompt\n * (preferred) or strip them here.\n */\nconst raw = $json.content[0].text.trim();\nlet plan;\ntry {\n  plan = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"Planner did not return valid JSON. Got:\\n\" + raw.slice(0, 500));\n}\n\n// Pull the goal+context through so downstream branches can reference them.\nconst ctx = $('Build Context Summary').first().json;\n\nreturn [{ json: { ...plan, _goal: ctx.goal, _context: ctx.context_summary } }];\n"
      }
    },
    {
      "id": "dc22767a-90b2-5fd0-8798-5be42df98168",
      "name": "Route on Subgoal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        380
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "forecast",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "forecast"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "inventory",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inventory"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "supplier",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "supplier"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_subgoal }}",
                    "rightValue": "logistics",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "logistics"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "8b659ed0-c792-578d-bc52-7a2c7415424e",
      "name": "Demand Forecast Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Demand Forecasting Engine \u2014 classical statistical forecast.\n *\n * Pedagogical purpose\n * -------------------\n * This Code node implements the *classical* half of a hybrid planning\n * pipeline. It produces a deterministic, reproducible numeric forecast\n * for each SKU using:\n *   1. A 3-month moving average over recent demand\n *   2. A 12-month seasonal index that adjusts for cyclical patterns\n *\n * The downstream LLM node (\"Forecast Context Adjuster\") will take these\n * numbers and revise them using context the math cannot see \u2014 promotions,\n * news events, weather, viral product mentions. That handoff is the whole\n * point of the lesson: classical statistics for what is computable,\n * LLM reasoning for what is contextual.\n *\n * If your forecast looks suspicious (e.g. SKU-007 Wool Gloves projects\n * its low summer baseline forward), you have correctly built a *naive*\n * forecaster. The next node is supposed to catch what you missed.\n *\n * Reading: docs/planning-primer.md \u00a7\"Classical vs LLM-based planning\"\n */\n\n// ---- Input contract -------------------------------------------------------\n// Upstream node provides items where item.json = {month, sku, name, units_sold}\n// (the parsed sales_history.csv).\nconst sales = $input.all().map(i => i.json);\n\n// ---- Helpers (provided \u2014 do not change) -----------------------------------\n\nfunction groupBySku(rows) {\n  const out = {};\n  for (const r of rows) {\n    (out[r.sku] = out[r.sku] || []).push(r);\n  }\n  // Sort each SKU's series chronologically so \"last 3\" really means \"most recent.\"\n  for (const sku of Object.keys(out)) {\n    out[sku].sort((a, b) => a.month.localeCompare(b.month));\n  }\n  return out;\n}\n\nfunction nextMonth(monthStr) {\n  // \"2025-12\" -> \"2026-01\"\n  const [y, m] = monthStr.split(\"-\").map(Number);\n  const d = new Date(Date.UTC(y, m, 1));\n  return `${d.getUTCFullYear()}-${String(d.getUTCMonth() + 1).padStart(2, \"0\")}`;\n}\n\n// ---- The two algorithms YOU implement -------------------------------------\n\n/**\n * Compute a simple 3-month moving average over the most recent units_sold values.\n *\n * @param {Array<{units_sold: number}>} series  Full sorted series for one SKU.\n * @returns {number}  Mean of the last 3 months. If fewer than 3 months of\n *                    data exist, take the mean of what's available.\n *                    Empty series -> 0.\n *\n * Why this matters: the moving average is the simplest possible \"trend\"\n * estimator. It's a STRIPS-style assumption: we assume the recent past\n * predicts the near future. This breaks for viral products and discontinued\n * items \u2014 which is exactly why the seasonal index and the LLM step exist.\n */\nfunction movingAverage(series) {\n  // TODO [easy] \u2014 LO-3: classical baseline forecasting\n  //   1. Slice the last up-to-3 entries from `series`.\n  //   2. Sum their `units_sold` and divide by the count.\n  //   3. Return 0 for an empty series.\n  throw new Error(\"TODO [easy]: implement movingAverage()\");\n}\n\n/**\n * Seasonal index for a target forecast month.\n *\n * Definition for month M:\n *   index(M) = mean(units_sold across rows where month-of-year == M)\n *              / mean(units_sold across the entire series)\n *\n * Interpretation: 1.0 = \"average month\", 1.5 = \"this month historically runs\n * 50% above average\", 0.4 = \"this month historically runs 60% below average.\"\n *\n * With only 12 months of history, the per-month mean degenerates to the\n * single observation we have for that month. That's a known weakness \u2014 we\n * accept it for this exercise. Production seasonality models use 2+ years.\n *\n * @param {Array<{month: string, units_sold: number}>} series\n * @param {string} targetMonth  e.g. \"2026-01\" \u2014 only the \"01\" portion matters.\n * @returns {number}            Multiplier. Default to 1.0 if you can't compute one.\n */\nfunction seasonalIndex(series, targetMonth) {\n  // TODO [medium] \u2014 LO-3: time-series decomposition\n  //   1. Extract the month-of-year part: targetMonth.split(\"-\")[1] -> \"01\"..\"12\"\n  //   2. Compute monthMean = mean of units_sold in `series` where the month\n  //      portion of row.month matches.\n  //   3. Compute overallMean = mean of units_sold across the entire series.\n  //   4. Return monthMean / overallMean. Guard against division by zero\n  //      (return 1.0 if overallMean is 0).\n  //   5. If no rows match the target month part, return 1.0.\n  throw new Error(\"TODO [medium]: implement seasonalIndex()\");\n}\n\n// ---- Main loop (provided) -------------------------------------------------\n\nconst bySku = groupBySku(sales);\nconst results = [];\n\nfor (const sku of Object.keys(bySku)) {\n  const series = bySku[sku];\n  const last = series[series.length - 1].month;\n  const target = nextMonth(last);\n\n  // Classical forecast = trend (moving average) \u00d7 seasonality\n  const ma = movingAverage(series);\n  const si = seasonalIndex(series, target);\n  const forecast = ma * si;\n\n  // Crude statistical confidence \u2014 coefficient of variation, inverted.\n  // The downstream LLM is supposed to revise this when context demands it.\n  // Watch how often statistical confidence and contextual confidence diverge.\n  const variance = series.length > 1\n    ? series.reduce((acc, r) => acc + Math.pow(r.units_sold - ma, 2), 0) / series.length\n    : 0;\n  const cv = ma > 0 ? Math.sqrt(variance) / ma : 1;\n  const confidence = Math.max(0, Math.min(1, 1 - cv));\n\n  results.push({\n    sku,\n    name: series[0].name,\n    target_month: target,\n    forecast_units: Math.round(forecast),\n    moving_avg: Math.round(ma * 10) / 10,\n    seasonal_index: Math.round(si * 100) / 100,\n    statistical_confidence: Math.round(confidence * 100) / 100,\n    method: \"moving_avg_3 \u00d7 seasonal_index\",\n    notes: [],\n  });\n}\n\n// n8n Code-node return contract: array of {json: ...}\nreturn results.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "267dbef7-7f2a-5c33-8a36-23c15f3c4928",
      "name": "Forecast Context Adjuster",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Forecast Context Adjuster.\\nYou receive a numerical forecast for one SKU (computed by the upstream\\nclassical engine) plus contextual notes. You revise the forecast when\\ncontext demands it and return JSON.\\n\\n# TODO [easy] -- LO-5: hybrid reasoning at the LLM/classical seam\\n# Write the prompt body. Decide:\\n#   1. What contextual signals warrant overriding the classical forecast?\\n#      (Hint: viral mentions, weather anomalies, promotions, supply news.)\\n#   2. By how much should the LLM be allowed to deviate from the math?\\n#      (A 50% revision needs justification a 5% revision does not.)\\n#   3. Required output JSON schema:\\n#        { \\\"sku\\\", \\\"revised_forecast\\\", \\\"delta_pct\\\", \\\"reasoning\\\",\\n#          \\\"context_signals_used\\\" }\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Forecast row:\\n' + JSON.stringify($json, null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "59684410-12a1-5aa6-9447-6a52df330a95",
      "name": "Inventory EOQ Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Inventory Optimization Planner \u2014 Economic Order Quantity (EOQ).\n *\n * Pedagogical purpose\n * -------------------\n * EOQ (Wilson, 1934) is the canonical *classical* operations-research model:\n * a closed-form solution under strict assumptions \u2014\n *   - constant demand\n *   - instantaneous replenishment\n *   - no stockouts allowed\n *   - fixed ordering cost, fixed holding cost\n *   - no quantity discounts\n *\n * Real e-commerce violates ALL of these for at least some SKUs. Viral\n * products (looking at you, SKU-007) blow past \"constant demand.\" Discontinued\n * SKUs (SKU-013) make \"no stockouts\" expensive in the wrong direction.\n * Slow-movers make the formula numerically unstable.\n *\n * This node teaches the boundary problem: classical algorithms give crisp\n * answers exactly when their assumptions hold. Your two TODOs are\n *   (a) implement the formula\n *   (b) detect when its assumptions don't hold for a given SKU\n *\n * The downstream LLM exception node handles the SKUs you flag.\n *\n * Reading: docs/planning-primer.md \u00a7\"STRIPS-style assumptions and where they break\"\n */\n\n// Inputs are merged upstream from two reads \u2014 inventory and sales \u2014 so this\n// node sees a heterogeneous list. Partition them by which fields are present.\nconst all = $input.all().map(i => i.json);\n\n// Default ordering cost (S in the EOQ formula). In production this would\n// vary by supplier and channel; we hard-code a single value so the focus\n// stays on the formula and its assumptions.\nconst ORDERING_COST_USD = 50;\n\n// ---- Helpers (provided) ---------------------------------------------------\n\nfunction partition(rows) {\n  const inventory = rows.filter(r => \"on_hand\" in r);\n  const sales = rows.filter(r => \"units_sold\" in r);\n  return { inventory, sales };\n}\n\nfunction annualDemand(salesForSku) {\n  // Sum units_sold across the rows we have. With 12 months of data this is\n  // the trailing-12-months annual demand.\n  return salesForSku.reduce((acc, r) => acc + Number(r.units_sold), 0);\n}\n\n// ---- TODO #1 \u2014 the EOQ formula --------------------------------------------\n\n/**\n * Wilson's Economic Order Quantity:\n *\n *   Q* = sqrt( (2 * D * S) / H )\n *\n * @param {number} D  Annual demand        (units per year)\n * @param {number} S  Fixed cost per order (dollars per order)\n * @param {number} H  Holding cost         (dollars per unit per year)\n * @returns {number}  Optimal order quantity, rounded to nearest integer.\n *\n * Hint: Math.sqrt is your friend. Guard against D=0 and H=0 \u2014 return 0 in\n *       either case. (You can't optimally order anything for zero demand,\n *       and dividing by zero holding cost is meaningless.)\n */\nfunction eoq(D, S, H) {\n  // TODO [medium] \u2014 LO-2: classical optimization\n  throw new Error(\"TODO [medium]: implement eoq()\");\n}\n\n// ---- TODO #2 \u2014 assumption-violation detection -----------------------------\n\n/**\n * EOQ assumes:\n *   (a) demand is roughly constant\n *   (b) lead time is short enough to re-order before stocking out\n *   (c) the SKU isn't perishable (no holding-cost cliff)\n *   (d) demand volume is high enough that an \"optimal batch\" is meaningful\n *\n * Return an array of human-readable flag strings for any assumption that\n * FAILS for this SKU. An empty array means \"EOQ is trustworthy here, ship\n * the formula's recommendation.\"\n *\n * Suggested checks (refine as you wish):\n *   - \"viral_spike\"   : mean(last 3 months) > 2.5 \u00d7 mean(prior 9 months)\n *   - \"declining\"     : mean(last 3 months) < 0.5 \u00d7 mean(first 3 months)\n *   - \"low_velocity\"  : annualDemand < 60   (less than ~5/month average)\n *   - \"long_lead_time\": inv.lead_time_days > 28 AND demand is volatile\n *\n * Note on perishability: none of our demo SKUs are perishable, so you do\n * NOT need a perishability check. Document the omission in your analysis\n * write-up \u2014 a real implementation would need it.\n *\n * @param {object} inv         Inventory row for the SKU\n * @param {Array}  salesSeries Chronologically sorted sales rows for the SKU\n * @returns {Array<string>}    Flag names, e.g. [\"viral_spike\", \"low_velocity\"]\n *\n * Hint: implement each check as its own small block. A flagged SKU may\n *       trigger multiple flags \u2014 that's expected and useful downstream.\n */\nfunction detectViolations(inv, salesSeries) {\n  // TODO [hard] \u2014 LO-4: knowing when classical models fail\n  throw new Error(\"TODO [hard]: implement detectViolations()\");\n}\n\n// ---- Main loop (provided) -------------------------------------------------\n\nconst { inventory, sales } = partition(all);\nconst salesBySku = sales.reduce((acc, r) => {\n  (acc[r.sku] = acc[r.sku] || []).push(r);\n  return acc;\n}, {});\nfor (const sku of Object.keys(salesBySku)) {\n  salesBySku[sku].sort((a, b) => a.month.localeCompare(b.month));\n}\n\nconst results = [];\nfor (const inv of inventory) {\n  const series = salesBySku[inv.sku] || [];\n  const D = annualDemand(series);\n  const H = Number(inv.holding_cost_per_unit_year);\n  const Q = eoq(D, ORDERING_COST_USD, H);\n  const flags = detectViolations(inv, series);\n\n  results.push({\n    sku: inv.sku,\n    name: inv.name,\n    on_hand: Number(inv.on_hand),\n    reorder_point: Number(inv.reorder_point),\n    annual_demand: D,\n    eoq_units: Q,\n    holding_cost_per_unit_year: H,\n    ordering_cost_usd: ORDERING_COST_USD,\n    assumption_flags: flags,\n    needs_llm_review: flags.length > 0,\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "b0d4508a-58d4-55f9-a2be-780eb0469f83",
      "name": "Inventory Exception Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Inventory Exception Handler.\\nYou receive SKUs the EOQ formula flagged as having broken assumptions\\n(viral spike, declining demand, low velocity, etc.). For each, propose\\nan inventory action.\\n\\n# TODO [easy] -- LO-4: planning when the closed-form solution doesn't apply\\n# Write the prompt body. Cover at minimum:\\n#   - \\\"viral_spike\\\": recommend an emergency reorder size larger than EOQ\\n#     suggests, because the formula's \\\"constant demand\\\" assumption is broken.\\n#   - \\\"declining\\\": recommend NOT reordering, possibly a markdown.\\n#   - \\\"low_velocity\\\": EOQ is numerically unstable; recommend a fixed\\n#     small reorder qty (e.g. 30-day demand).\\n# Required output JSON schema:\\n#   { \\\"sku\\\", \\\"recommended_action\\\": \\\"reorder\\\"|\\\"markdown\\\"|\\\"liquidate\\\"|\\\"hold\\\",\\n#     \\\"recommended_qty\\\", \\\"reasoning\\\" }\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Flagged SKU:\\n' + JSON.stringify($json, null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "1051c1f6-5908-509e-bb6c-8788a4b24de0",
      "name": "Supplier Performance Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Supplier Performance Monitor.\\nYou receive the supplier roster with KPIs and produce scored rankings.\\n\\n# TODO [medium] -- LO-5: LLM-based multi-criteria reasoning\\n# Design a 0-100 scoring rubric across these four dimensions and explain\\n# the weights you choose:\\n#   - cost         (proxy: payment_terms_days; longer = better cash position)\\n#   - lead time    (avg_lead_time_days; shorter = better)\\n#   - reliability  (on_time_rate; higher = better)\\n#   - quality      (1 - defect_rate; higher = better)\\n# Required output JSON schema (one object per supplier):\\n#   { \\\"supplier_id\\\", \\\"score_total\\\",\\n#     \\\"score_breakdown\\\": { \\\"cost\\\", \\\"lead_time\\\", \\\"reliability\\\", \\\"quality\\\" },\\n#     \\\"tier\\\": \\\"preferred\\\"|\\\"approved\\\"|\\\"watch\\\"|\\\"deprioritize\\\",\\n#     \\\"recommendation\\\": \\\"...\\\" }\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Supplier roster:\\n' + JSON.stringify($input.all().map(i => i.json), null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "7dbbcf62-2aa2-58b7-9a7d-4dd7f48f8277",
      "name": "Build Shipping Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        740
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Manufacture three illustrative shipping requests so the logistics branch\n * has work to do. In a real system these would come from order management;\n * we synthesize them here so the assignment is self-contained.\n */\nconst requests = [\n  { type: \"request\", request_id: \"REQ-001\", weight_kg:  850, origin_region: \"Asia\",          dest_region: \"North America\", deadline_days: 14, perishable: false },\n  { type: \"request\", request_id: \"REQ-002\", weight_kg:   60, origin_region: \"North America\", dest_region: \"North America\", deadline_days:  3, perishable: true  },\n  { type: \"request\", request_id: \"REQ-003\", weight_kg: 1200, origin_region: \"Europe\",        dest_region: \"North America\", deadline_days: 21, perishable: false },\n];\nconst options = $('Read Shipping JSON').all().map(i => ({ type: \"option\", ...i.json }));\nreturn [...requests, ...options].map(x => ({ json: x }));\n"
      }
    },
    {
      "id": "e3170f22-7651-5e3d-bf3f-870ba86f8edf",
      "name": "Logistics Coordinator (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-credential-placeholder",
          "name": "Anthropic API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are the Logistics Coordinator.\\nYou receive shipping requests and the carrier catalogue. For each request\\nyou select a carrier and explain the trade-offs.\\n\\n# TODO [easy] -- LO-5: LLM-based planning with soft constraints\\n# Write the prompt body. Address:\\n#   1. Hard constraints: deadline, weight, perishability, region match.\\n#   2. Soft preferences: cost, transit-time risk, supplier relationships.\\n#   3. When two options are close on cost, prefer the one with more\\n#      time slack (transit_days well under deadline).\\n# Required output JSON schema (one per request):\\n#   { \\\"request_id\\\", \\\"chosen_option_id\\\", \\\"alternatives_considered\\\": [...],\\n#     \\\"trade_off_summary\\\": \\\"...\\\", \\\"use_classical_fallback\\\": false }\\n#\\n# Set `use_classical_fallback: true` ONLY when the request is purely numeric\\n# (no soft constraints) -- the IF node downstream will route those to the\\n# deterministic greedy planner instead.\\n\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Request:\\n' + JSON.stringify($json, null, 2) + '\\n\\nOptions:\\n' + JSON.stringify($('Read Shipping JSON').all().map(i => i.json), null, 2)) }} }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "7ea7b7a4-878a-5bf2-ab4e-ac35a1461de3",
      "name": "Use Classical Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        740
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.use_classical_fallback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a3186ddb-d0f2-5c13-8202-711c314bf431",
      "name": "Classical Logistics Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        920
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Classical Logistics Planner \u2014 greedy fallback.\n *\n * Pedagogical purpose\n * -------------------\n * This is the \"planning without an LLM\" branch of the Logistics Coordinator.\n * The LLM logistics node handles soft-constraint cases (special instructions,\n * supplier relationships, urgency framing, multi-leg trade-offs). When the\n * upstream IF node decides a situation is purely numerical \u2014 fixed weight,\n * fixed deadline, available carriers \u2014 it routes here for a deterministic,\n * auditable choice.\n *\n * Greedy is the simplest classical search: at each decision point, take the\n * locally best option. It's not always globally optimal, but it's fast,\n * explainable, and a perfect baseline to compare LLM plans against.\n *\n * Reading: docs/planning-primer.md \u00a7\"Classical search and the cost of optimality\"\n */\n\n// Inputs are merged upstream \u2014 shipping requests AND the catalogue of options.\n//\n// A request: { type: \"request\", request_id, weight_kg, origin_region,\n//              dest_region, deadline_days, perishable }\n// An option: { type: \"option\",  option_id, carrier, mode, origin_region,\n//              destination_region, transit_days, cost_per_kg,\n//              max_weight_kg, supports_perishable }\n\nconst all = $input.all().map(i => i.json);\nconst requests = all.filter(x => x.type === \"request\");\nconst options  = all.filter(x => x.type === \"option\");\n\n// ---- TODO \u2014 greedy carrier assignment -------------------------------------\n\n/**\n * Pick the cheapest shipping option satisfying ALL hard constraints\n * for one request:\n *   - origin_region matches request.origin_region\n *   - destination_region matches request.dest_region\n *   - transit_days <= request.deadline_days\n *   - max_weight_kg >= request.weight_kg\n *   - if request.perishable === true, supports_perishable must also be true\n *\n * Total cost = request.weight_kg \u00d7 option.cost_per_kg  (we ignore time cost)\n *\n * @param {object} req\n * @param {Array}  options\n * @returns {object|null}  Chosen option augmented with `total_cost_usd`,\n *                         or null if nothing satisfies the constraints.\n *\n * Hint: this is two steps \u2014 filter, then min-by-cost.\n *   1. Array.prototype.filter against the 5 hard constraints.\n *   2. If the filtered list is empty, return null (infeasible).\n *   3. Map each survivor to {...option, total_cost_usd: req.weight_kg * option.cost_per_kg}.\n *   4. Reduce to the one with the minimum total_cost_usd.\n *\n * Why greedy and not exhaustive? With ~10 options per request the search\n * space is trivial. We use greedy to keep the comparison clean against\n * the LLM branch, not because we couldn't afford the optimal search.\n */\nfunction pickCheapestFeasible(req, options) {\n  // TODO [hard] \u2014 LO-2: classical search baselines\n  throw new Error(\"TODO [hard]: implement pickCheapestFeasible()\");\n}\n\n// ---- Main loop (provided) -------------------------------------------------\n\nconst assignments = [];\nfor (const req of requests) {\n  const choice = pickCheapestFeasible(req, options);\n  assignments.push({\n    request_id: req.request_id,\n    weight_kg: req.weight_kg,\n    deadline_days: req.deadline_days,\n    chosen: choice,\n    feasible: choice !== null,\n    method: \"classical_greedy\",\n  });\n}\n\nreturn assignments.map(a => ({ json: a }));\n"
      }
    },
    {
      "id": "64933313-39bd-5ce0-8c75-20f9981484b5",
      "name": "Merge Subgoal Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2880,
        380
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "7f14ee66-e79e-5450-823b-0f60e7d0a61e",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * Aggregate the active subgoal's output into a final business-friendly summary.\n * Only one branch fires per execution (the Switch routes on next_subgoal).\n *\n * TODO [medium] -- LO-1: closing the planning loop\n *   Decide what shape the human-readable summary should take. Suggested:\n *     { plan_id, executed_subgoal, key_findings: [...], next_recommended_subgoal }\n *   The `next_recommended_subgoal` is your hook for an iterative HTN -- feed\n *   it back into the planner on the next run to advance the plan.\n */\nconst items = $input.all().map(i => i.json);\nreturn [{ json: { executed_subgoal: \"TODO\", raw_outputs: items } }];\n"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Goal": {
      "main": [
        [
          {
            "node": "Read Inventory File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Sales File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Suppliers File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Shipping File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Inventory File": {
      "main": [
        [
          {
            "node": "Read Inventory JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Inventory JSON": {
      "main": [
        [
          {
            "node": "Build Context Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sales File": {
      "main": [
        [
          {
            "node": "Read Sales JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sales JSON": {
      "main": [
        [
          {
            "node": "Build Context Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Suppliers File": {
      "main": [
        [
          {
            "node": "Read Suppliers JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Suppliers JSON": {
      "main": [
        [
          {
            "node": "Build Context Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Shipping File": {
      "main": [
        [
          {
            "node": "Read Shipping JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Shipping JSON": {
      "main": [
        [
          {
            "node": "Build Context Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context Summary": {
      "main": [
        [
          {
            "node": "Master Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Planner Agent": {
      "main": [
        [
          {
            "node": "Parse Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Plan": {
      "main": [
        [
          {
            "node": "Route on Subgoal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Subgoal": {
      "main": [
        [
          {
            "node": "Demand Forecast Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inventory EOQ Planner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supplier Performance Monitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Shipping Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demand Forecast Engine": {
      "main": [
        [
          {
            "node": "Forecast Context Adjuster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forecast Context Adjuster": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory EOQ Planner": {
      "main": [
        [
          {
            "node": "Inventory Exception Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Exception Handler": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supplier Performance Monitor": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shipping Requests": {
      "main": [
        [
          {
            "node": "Logistics Coordinator (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logistics Coordinator (LLM)": {
      "main": [
        [
          {
            "node": "Use Classical Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Classical Fallback?": {
      "main": [
        [
          {
            "node": "Classical Logistics Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classical Logistics Fallback": {
      "main": [
        [
          {
            "node": "Merge Subgoal Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Subgoal Results": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}